@font-face {
    font-family: "brandon_printedtwo";
    src: url("../fonts/brandonprinted-two.woff2") format("woff2"),
         url("../fonts/brandonprinted-two.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

html {
    font-size: 17px;
}

body {
    margin: 0;
}

h1 {
    margin: 0;
}

h2 {
    margin: 0;
}

p {
    margin: 0;
}

.title-logo {
    margin-left: 20px;
    margin-top: 80px;
}

.title-logo h1 {
    font-size: 3rem;
    width: 10px;
    color: #ffffff;
    font-family: "brandon_printedtwo";
}

.title-logo p {
    font-size: 1rem;
    color: #ffffff;
    font-weight: 1000;
    font-family: "Nunito", Arial, Helvetica;
}

.home-header {
    width: 100%;
    height: 800px;
    background-image: url(../media/main-header.png);
    background-repeat: no-repeat;
    background-size: 100% 800px;
}

@media (min-width: 1800px) {
    .home-header {
        height: 900px;
        background-size: 100% 900px;
    }
}

@media (min-width: 2000px) {
    .home-header {
        height: 1100px;
        background-size: 100% 1100px;
    }
}

@media (max-width: 900px) {
    .home-header {
        height: 600px;
        background-size: 100% 600px;
    }
}

@media (max-width: 500px) {
    .home-header {
        height: 200px;
        background-size: 100% 200px;
    }
}

.nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav-home-link {
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

.nav-home-link img {
    width: 64px;
    height: 64px;
}

.nav-links ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-links li {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

.nav-links a {
    color: #ffffff;
    font-family: "Nunito", Arial, Helvetica;
    font-weight: 1000;
    font-size: 1rem;
    text-decoration: none;
}

.nav-links a:hover, .nav-links a:focus {
    text-decoration: underline;
}

.nav-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-actions a {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

.nav-action-link img {
    width: 44px;
    height: 44px;
}

.divider {
    width: 100%;
    height: 300px;
    background-image: url(../media/divider.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.home-background-info {
    width: 100%;
    display: flex;
}

.home-background-info h1 {
    color: #000000;
    font-size: 3rem;
    font-family: "brandon_printedtwo";
}

.home-background-info h2 {
    color: #000000;
    font-size: 2rem;
    font-family: "brandon_printedtwo";
}

.home-background-info p {
    color: #000000;
    font-size: 1rem;
    font-family: "Nunito", Arial, Helvetica;
}

.home-background-info-content {
    margin: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.home-background-info-content img {
    width: 30%;
    height: auto;
    max-height: 500px;
}

.home-background-info-text-content  {
    width: 30%;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.home-background-info-text-content h1 {
    align-self: flex-start;
}

.home-background-info-text-content h2 {
    align-self: flex-start;
}

.home-background-info-text-content p {
    align-self: flex-start;
    margin-left: 5px;
    margin-top: 5px;
}

.our-story-button {
    background-color: #005C49;
    border: 2px solid transparent;
    border-radius: 9px;
    padding: 5px 10px;
    width: fit-content;
    align-self: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.our-story-button h2 {
    color: #ffffff;
    margin: 0;
    font-size: 2rem;
}

.our-story-button:focus, .our-story-button:hover {
    border: 2px solid #000000;
    border-radius: 3px;
}

.have-a-nosey-container {
    margin-top: 50px;
    margin-bottom: 150px;
    width: 100%;
    height: 500px;
    background-image: url(../media/bread-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.have-a-nosey-button {
    background-color: unset;
    border: 4px solid #ffffff;
    border-radius: 9px;
    padding: 5px 10px;
    width: fit-content;
}

.have-a-nosey-button h2 {
    color: #ffffff;
    margin: 0;
    font-size: 2rem;
    font-family: "brandon_printedtwo";
}

/* footer */
.footer-content {
    width: 100%;
    height: 200px;
    background-color: #000000;
}

.footer-content h2 {
    color: #ffffff;
    font-size: 2rem;
    font-family: "brandon_printedtwo";
}