/* Importing title font family from woff and woff2 files */

@font-face {
    font-family: "brandon_printedtwo";
    src: url("../fonts/brandonprinted-two.woff2") format("woff2"),
         url("../fonts/brandonprinted-two.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

/* Default Styling */

html {
    font-size: 17px;
}

body {
    margin: 0;
}

h1 {
    margin: 0;
}

h2 {
    margin: 0;
}

p {
    margin: 0;
}

/* Navbar/Hero */

.title-logo {
    margin-left: 20px;
    margin-top: 80px;
}

.title-logo h1 {
    font-size: 3rem;
    width: 10px;
    color: #ffffff;
    font-family: "brandon_printedtwo";
}

.title-logo p {
    font-size: 1rem;
    color: #ffffff;
    font-weight: 1000;
    font-family: "Nunito", Arial, Helvetica;
}

.home-header {
    width: 100%;
    height: 800px;
    background-image: url(../media/main-header.png);
    background-repeat: no-repeat;
    background-size: 100% 800px;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav-home-link {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    text-decoration: none;
}

.nav-home-link:hover, .nav-home-link:focus {
    text-decoration: underline;
    text-decoration-color: #005C49;
}

.nav-home-link p {
    font-size: 3rem;
    color: #005C49;
    font-family: "brandon_printedtwo";
}

.nav-links ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
}

.nav-links li {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

.nav-links a {
    color: #ffffff;
    font-family: "Nunito", Arial, Helvetica;
    font-weight: 1000;
    font-size: 1rem;
    text-decoration: none;
}

.nav-links a:hover, .nav-links a:focus {
    text-decoration: underline;
}

.nav-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-actions a {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

.nav-action-link img {
    width: 32px;
    height: 32px;
}

/* Navbar Responsive Styling */

@media (min-width: 1800px) {
    .home-header {
        height: 900px;
        background-size: 100% 900px;
    }
}

@media (min-width: 2000px) {
    .home-header {
        height: 1100px;
        background-size: 100% 1100px;
    }
}

@media (max-width: 900px) {
    .home-header {
        height: 600px;
        background-size: 100% 600px;
    }
}

@media (max-width: 500px) {
    .home-header {
        height: 500px;
        background-size: 100% 500px;
    }

    .title-logo {
        margin-left: 20px;
        margin-top: 40px;
    }
}

@media (max-width: 400px) {
    .title-logo {
        margin-left: 5px;
        margin-top: 15px;
    }

    .title-logo h1 {
        font-size: 2rem;
    }
}

@media (max-width: 195px) {
    .title-logo {
        margin-left: 0px;
    }

    .title-logo h1 {
        font-size: 1.5rem;
    }
}

@media (max-width: 810px) {
    .nav-home-link {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
    }

    .nav-links li {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
    }

    .nav-actions a {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
    }
}

@media (max-width: 650px) {
    .nav-bar {
        flex-direction: column;
    }
}

@media (max-width: 390px) {
    .nav-links ul {
        flex-direction: column;
    }
}

/* Content divider with pattern */

.divider {
    width: 100%;
    height: 300px;
    background-image: url(../media/divider.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Home background info content and button */

.home-background-info {
    width: 100%;
    display: flex;
}

.home-background-info h1 {
    color: #000000;
    font-size: 3rem;
    font-family: "brandon_printedtwo";
}

.home-background-info h2 {
    color: #000000;
    font-size: 2rem;
    font-family: "brandon_printedtwo";
}

.home-background-info p {
    color: #000000;
    font-size: 1rem;
    font-family: "Nunito", Arial, Helvetica;
}

.home-background-info-content {
    margin: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.home-background-info-content img {
    width: 700px;
    height: 500px;
}

.home-background-info-text-content  {
    width: 30%;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.home-background-info-text-content h1 {
    align-self: flex-start;
}

.home-background-info-text-content h2 {
    align-self: flex-start;
}

.home-background-info-text-content p {
    align-self: flex-start;
    margin-left: 5px;
    margin-top: 5px;
}

.home-background-info-text-content a {
    align-self: center;
}

.our-story-button {
    background-color: #005C49;
    border: 2px solid transparent;
    border-radius: 9px;
    padding: 5px 10px;
    width: fit-content;
    margin-top: 40px;
    margin-bottom: 40px;
    color: #ffffff;
    margin: 0;
    font-size: 2rem;
    font-family: "brandon_printedtwo";
    text-decoration: none;
}

.our-story-button:focus, .our-story-button:hover {
    border: 2px solid #000000;
    border-radius: 9px;
}

/* Home background info content Responsive Styling */

@media (max-width: 1700px) {
    .home-background-info-content img {
        width: 500px;
        height: 400px;
    }
}

@media (max-width: 870px) {
    .home-background-info-content {
        flex-direction: column;
        align-items: center;
    }

    .home-background-info-text-content {
        width: unset;
        margin: unset;
        text-align: center;
    }
    
    .home-background-info-text-content h1 {
        align-self: unset;
    }
    
    .home-background-info-text-content h2 {
        align-self: unset;
    }
}

@media (max-width: 600px) {
    .home-background-info-content img {
        width: 300px;
        height: 200px;
    }
}

@media (max-width: 400px) {
    .home-background-info h1 {
        font-size: 2rem;
    }
    
    .home-background-info h2 {
        font-size: 1.5rem;
    }
    
    .home-background-info p {
        font-size: 1rem;
    }

    .home-background-info-content {
        margin: 20px;
    }

    .home-background-info-content img {
        width: 200px;
        height: 150px;
    }
}

@media (max-width: 250px) {
    .home-background-info h1 {
        font-size: 1.5rem;
    }
    
    .home-background-info h2 {
        font-size: 1.25rem;
    }

    .home-background-info-content {
        margin: 10px;
    }

    .home-background-info-content img {
        width: 150px;
        height: 125px;
    }
}

/* Have a nosey container and button */

.have-a-nosey-container {
    margin-top: 50px;
    margin-bottom: 150px;
    width: 100%;
    height: 40%;
    background-image: url(../media/bread-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.have-a-nosey-button {
    background-color: unset;
    border: 4px solid #ffffff;
    border-radius: 9px;
    padding: 5px 10px;
    width: fit-content;
    margin: 10px 15px;
    color: #ffffff;
    font-size: 2rem;
    font-family: "brandon_printedtwo";
    text-decoration: none;
}

.have-a-nosey-button:focus, .have-a-nosey-button:hover {
    border: 4px solid #000000;
    border-radius: 9px;
}

/* Have a nosey button Responsive Styling */

@media (max-width: 220px) {
    .have-a-nosey-button {
        font-size: 1.5rem;
    }
}

@media (max-width: 175px) {
    .have-a-nosey-button {
        font-size: 1rem;
    }
}

/* Social image gallery */

.social-image-gallery {
    margin-bottom: 100px;
}

.social-image-gallery h2 {
    color: #005C49;
    margin: 0;
    font-size: 1.5rem;
    font-family: "brandon_printedtwo";
    top: 20px;
    position: relative;
}

.social-image-gallery-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    top: 25px;
}

.social-caption-group {
    display: flex;
    align-items: center;
}

.social-action-link {
    margin-left: 5px;
    margin-right: 5px;
}

.social-action-link img {
    width: 62px;
    height: 62px;
    border-radius: 50%;
    border: 5px solid #ffffff;
    background-color: #ffffff;
}

.image-container {
    display: flex;
    flex-direction: row;
}

.image-container-column {
    display: flex;
    flex-direction: column;
}

.image-container-column img {
    width: 350px;
    height: 350px;
    margin: 5px;
}

.centre {
    display: flex;
    justify-content: center;
}

/* Social image gallery Responsive Styling */

@media (max-width: 1850px) {
    .image-container-column img {
        width: 300px;
        height: 300px;
    }
}

@media (max-width: 1580px) {
    .image-container-column img {
        width: 250px;
        height: 250px;
    }
}

@media (max-width: 1320px) {
    .image-container-column img {
        width: 200px;
        height: 200px;
    }
}

@media (max-width: 1100px) {
    .image-container-column img {
        width: 150px;
        height: 150px;
    }
}

@media (max-width: 820px) {
    .image-container-column img {
        width: 115px;
        height: 115px;
    }
}

@media (max-width: 660px) {
    .image-container {
        flex-direction: column;
        align-items: center;
    }

    .image-container-column {
        flex-direction: row;
    }

    .social-caption-group {
        flex-direction: column;
        text-align: center;
    }

    .social-image-gallery h2 {
        top: unset;
        position: unset;
    }
    
    .social-image-gallery-actions {
        position: unset;
        top: unset;
    }
}

@media (max-width: 280px) {
    .image-container-column {
        flex-direction: column;
    }

    .social-image-gallery-actions {
        flex-direction: column;
    }

    .social-image-gallery-actions a {
        margin: 5px;
    }
}

/* Footer */

.footer-content {
    width: 100%;
    height: 200px;
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content h2 {
    color: #ffffff;
    font-size: 2rem;
    font-family: "brandon_printedtwo";
    text-align: center;
}

.footer-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-actions a {
    margin-left: 20px;
    margin-right: 20px;
}

.footer-action-link img {
    width: 32px;
    height: 32px;
}

.footer-action-social-link img {
    border-radius: 50%;
}

.footer-divider-container {
    position: relative;
    text-align: center;
}

.footer-divider-container a {
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.footer-home-link {
    text-decoration: none;
}

.footer-home-link:hover, .footer-home-link:focus {
    text-decoration: underline;
    text-decoration-color: #005C49;
}

.footer-home-link h1 {
    font-size: 8rem;
    color: #005C49;
    font-family: "brandon_printedtwo";
}

/* Footer Responsive Styling */

@media (max-width: 810px) {
    .footer-content {
        height: unset;
        flex-direction: column;
    }

    .footer-actions {
        margin: 20px 0;
    }
}

@media (max-width: 280px) {
    .footer-actions a {
        margin: 20px 5px;
    }
}

@media (max-width: 200px) {
    .footer-actions {
        flex-direction: column;
    }

    .footer-content h2 {
        word-wrap: break-word;
    }
}
/* ------------------------------------------------------------------ */
/* Reuseable nav */
.reuseable-nav {
    height: 15vh;
    background-image: linear-gradient(
        175deg,
        hsl(0deg 0% 0%) 0%,
        hsl(344deg 0% 8%) 14%,
        hsl(344deg 0% 13%) 24%,
        hsl(0deg 0% 18%) 32%,
        hsl(344deg 0% 25%) 39%,
        hsl(344deg 0% 32%) 47%,
        hsl(0deg 0% 40%) 55%,
        hsl(344deg 0% 59%) 66%,
        hsl(344deg 0% 79%) 79%,
        hsl(0deg 0% 100%) 100%
    );
}

@media (max-width: 400px) {    .reuseable-nav {
        height: 25vh;
    }
    
}
/* ----------------------------------------------------------------------- */

/* Menu page */
.menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-container ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-container h2 {
    margin: 0;
    text-align: center;
}

.menu-container h3 {
    margin: 0;
}

.menu-container p {
    margin: 0;
}

.menu-container h1 {
    font-size: 3rem;
    font-family: "brandon_printedtwo";
    margin: 10px;
    text-align: center;
}

.menu-items h2 {
    font-size: 2rem;
    font-family: "brandon_printedtwo";
}

.menu-items-group h3 {
    font-size: 1rem;
    font-family: "brandon_printedtwo";
}

.menu-items-group p {
    font-size: 1rem;
    font-family: "Nunito", Arial, Helvetica;
}

.menu-items-group .italic {
    font-style: italic;
}

.menu-items h3 {
    font-size: 1rem;
    font-family: "brandon_printedtwo";
}

.menu-items p {
    font-size: 1rem;
    font-family: "Nunito", Arial, Helvetica;
}

.menu-item .italic {
    font-style: italic;
}

.menu-items-group li p {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu-items-sides {
    text-align: center;
    padding: 20px;
    margin: 30px;
    width: 25%;
}

.allergy-warning {
    text-align: center;
    padding: 20px;
    margin: 30px;
    display: flex;
    width: 60%;
}

.allergy-warning div {
    width: 50%;
    padding: 15px;
}

.allergy-warning p {
    font-size: 1rem;
    font-family: "Nunito", Arial, Helvetica;
    padding: 5px;
}

.menu-items-main {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.menu-items-drinks {
    width: 25%;
    margin-bottom: 20px;
}

.menu-item {
    padding: 10px 0;
}

.menu-items-group {
    padding: 10px 0;
}

.colour-settings {
    display: flex;
}

.colour-settings input {
    background: unset;
    border: 1px solid #c2c2c2;
    border-radius: 5px;
    margin: 5px;
    min-width: 200px;
    height: 28px;
    font-family: "Nunito", Arial, Helvetica;
}

@media (max-width: 2000px) {
    .menu-items-drinks {
        width: 30%;
    }

    .menu-items-main {
        width: 30%;
    }

    .menu-items-sides {
        width: 30%;
    }
}

@media (max-width: 1500px) {
    .menu-items-drinks {
        width: 40%;
    }

    .menu-items-main {
        width: 40%;
    }

    .menu-items-sides {
        width: 40%;
    }

    .allergy-warning {
        width: 80%;
    }
}

@media (max-width: 1000px) {
    .menu-items-drinks {
        width: 50%;
    }

    .menu-items-main {
        width: 50%;
    }

    .menu-items-sides {
        width: 50%;
    }
}

@media (max-width: 750px) {
    .menu-items-drinks {
        width: 60%;
    }

    .menu-items-main {
        width: 60%;
    }

    .menu-items-sides {
        width: 60%;
    }

    .allergy-warning {
        text-align: center;
        padding: 20px;
        margin: 30px;
        display: flex;
        width: 100%;
    }
}

@media (max-width: 500px) {
    .menu-items-drinks {
        width: 80%;
    }

    .menu-items-main {
        width: 80%;
    }

    .menu-items-sides {
        width: 80%;
    }

    .colour-settings {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 400px) {
    .menu-items-drinks {
        width: 100%;
    }

    .menu-items-main {
        width: 100%;
    }

    .menu-items-sides {
        width: 100%;
    }

    .allergy-warning {
        flex-direction: column;
        align-items: center;
    }
}

/* Our Story Page */
.our-story-container-centre {
    display: flex;
    justify-content: center;
}

.our-story-container {
    margin-bottom: 100px;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.our-story-container h1 {
    font-size: 3rem;
    font-family: "brandon_printedtwo";
    color: #005C49;
    margin: 15px 10px;
}

.our-story-container p {
    font-size: 1rem;
    font-family: "Nunito", Arial, Helvetica;
}

.our-story-container img {
    width: 300px;
    height: 300px;
}

.our-story-section {
    display: flex;
    flex-direction: row;
    padding: 5px;
    margin: 15px 10px;
}

.our-story-section p {
    padding: 5px; 
    margin: 15px 10px;
}

.our-story-section .special-paragraph {
    padding: 0px; 
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
}

@media (max-width: 1600px) {
    .our-story-container {
        width: 75%;
    }
}

@media (max-width: 1300px) {
    .our-story-container {
        width: 85%;
    }
}

@media (max-width: 1100px) {
    .our-story-container {
        width: 100%;
    }
}

@media (max-width: 850px) {
    .our-story-container {
        width: 100%;
    }
    
    .our-story-container img {
        margin-bottom: 15px;
    }

    .our-story-section {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 330px) {
    .our-story-container img {
        width: 250px;
        height: 250px;
    }
}

@media (max-width: 275px) {
    .our-story-container img {
        width: 200px;
        height: 200px;
    }
}

/* Our locations page */
.our-locations-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.our-locations-container h1 {
    font-size: 3rem;
    font-family: "brandon_printedtwo";
    margin: 10px;
    color: #005C49;
}

.our-locations-container h2 {
    font-size: 2rem;
    font-family: "brandon_printedtwo";
    margin: 10px;
    color: #000000;
    text-align: center;
}

.our-locations-container p {
    font-size: 1rem;
    font-family: "Nunito", Arial, Helvetica;
    color: #000000;
    text-align: center;
}

.location-container {
    padding: 10px;
    margin: 10px;
}

.locations {
    display: flex;
    flex-direction: row;
}

@media (max-width: 1650px) {
    .locations {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 600px) {
    .location-container iframe {
        width: 300px;
        height: 200px;
    }
}

@media (max-width: 375px) {
    .location-container iframe {
        width: 200px;
        height: 150px;
    }
}

/* Shop */
.shop-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
    min-height: 40%;
}

.shop-container h1 {
    font-size: 3rem;
    font-family: "brandon_printedtwo";
    margin: 10px;
    color: #005C49;
}

.shop-container h2 {
    font-size: 1.5rem;
    font-family: "brandon_printedtwo";
    margin: 10px;
    color: #000000;
}

.shop-container h3 {
    font-size: 1rem;
    font-family: "brandon_printedtwo";
    margin: 10px;
    color: #000000;
}

.shop-item {
    text-decoration: none;
    font-size: 1rem;
    font-family: "Nunito", Arial, Helvetica;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 15px 0;
}

.shop-item .title {
    color: #000000;
}

.shop-item .description {
    color: #6e6e6e;
}

.shop-item .price {
    color: #000000;
}

.shop-item .alert {
    color: #e4931b;
}

.shop-item img {
    width: 300px;
    height: 300px;
}

.shop-item-text {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.shop-items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 800px) {
    .shop-item {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 330px) {
    .shop-item img {
        width: 200px;
        height: 200px;
    }
}

.shop-filters {
    display: flex;
    justify-content: center;
    font-family: "Nunito", Arial, Helvetica;
    font-size: 1rem;
}

.search-bar-form {
    display: flex;
    margin: 10px;
}

.search-bar-form input {
    background-color: transparent;
    border: 1px solid #c2c2c2;
    border-radius: 5px;
    font-family: "Nunito", Arial, Helvetica;
    font-size: 1rem;
    padding: 7.5px;
    height: 36px;
    margin-right: 5px;
}

.shop-filter-search-button {
    background-color: transparent;
    border: 1px solid #c2c2c2;
    border-radius: 5px;
    width: 36px;
    height: 36px;
    padding: 4px;
}

.shop-filter-search-button:hover, .shop-filter-search-button:active {
    border: 1px solid #000000;
}

.shop-filter-search-button img {
    width: 24px;
    height: 24px;
}

.filters-form {
    margin: 10px;
}

.shop-filters input[type=submit] {
    font-family: "Nunito", Arial, Helvetica;
    font-size: 1rem;
    background-color: transparent;
    border: 1px solid #c2c2c2;
    border-radius: 5px;
    width: 60px;
    height: 36px;
    padding: 4px;
}

.sort-by-form {
    margin: 10px;
}

@media (max-width: 700px) {
    .shop-filters {
        flex-direction: column;
    }
}

/* Shop item view */
.shop-item-view {
    min-height: 40%;
    margin: 10px;
    margin-bottom: 100px;
}

.shop-item-form {
    margin-bottom: 10px;
}

.shop-item-view h1 {
    font-size: 2rem;
    font-family: "brandon_printedtwo";
    color: #005C49;
}

.shop-item-view p {
    font-family: "Nunito", Arial, Helvetica;
    font-size: 1rem;
}

.shop-item-view .warning {
    color: #e4931b;
}

.shop-item-view .feedback {
    color: #e1341e;
}

.shop-item-view label {
    font-family: "Nunito", Arial, Helvetica;
    font-size: 1rem;
}

.shop-item-view img {
    width: 400px;
    height: 400px;
}

.shop-item-view input {
    background-color: transparent;
    border: 1px solid #c2c2c2;
    border-radius: 5px;
    font-family: "Nunito", Arial, Helvetica;
    font-size: 1rem;
    padding: 7.5px;
    height: 36px;
    margin-right: 5px;
    width: 60px;
}

.shop-item-view button {
    background-color: #005C49;
    border: 2px solid transparent;
    border-radius: 9px;
    padding: 5px 10px;
    width: fit-content;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #ffffff;
    margin: 0;
    font-size: 1rem;
    font-family: "Nunito", Arial, Helvetica;
}

.shop-item-view button:focus, .shop-item-view button:hover {
    border: 2px solid #000000;
    border-radius: 3px;
    border-radius: 9px;
}

@media (max-width: 450px) {
    .shop-item-view img {
        width: 250px;
        height: 250px;
    }
}

@media (max-width: 280px) {
    .shop-item-view img {
        width: 150px;
        height: 150px;
    }
}

/* Basket */
.basket-items {
    margin-bottom: 100px;
    min-height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.basket-item {
    font-family: "Nunito", Arial, Helvetica;
    font-size: 1rem;
    margin-bottom: 30px;
}

.basket-item img {
    width: 300px;
    height: 300px;
}

.basket-items h1 {
    font-size: 3rem;
    font-family: "brandon_printedtwo";
    color: #005C49;
    margin-bottom: 30px;
    margin-top: 10px;
}

@media (max-width: 330px) {
    .basket-item img {
        width: 200px;
        height: 200px;
    }
}

.basket-item input {
    background-color: transparent;
    border: 1px solid #c2c2c2;
    border-radius: 5px;
    font-family: "Nunito", Arial, Helvetica;
    font-size: 1rem;
    padding: 7.5px;
    height: 36px;
    margin-right: 5px;
    width: 60px;
}

.basket-item .item-title {
    color: #000000;
    margin-top: 2px;
    margin-bottom: 5px;
}

.basket-item .item-price {
    color: #6e6e6e;
    margin-top: 2px;
    margin-bottom: 5px;
}

.basket-item .item-stock-levels {
    color: #e4931b;
    margin-top: 2px;
    margin-bottom: 5px;
}

.basket-empty {
    text-align: center;
    font-family: "Nunito", Arial, Helvetica;
    font-size: 1rem;
    margin: 15px;
}

.basket-empty a {
    color: #e1341e;
}

.basket-remove-item-button {
    background-color: #e1341e;
    border: 2px solid transparent;
    border-radius: 5px;
    padding: 7.5px;
    height: 38px;
    font-family: "Nunito", Arial, Helvetica;
    font-size: 1rem;
    color: #ffffff;
}

.basket-complete-order-button {
    background-color: #005C49;
    border: 2px solid transparent;
    border-radius: 5px;
    padding: 7.5px;
    font-size: 2rem;
    font-family: "brandon_printedtwo";
    color: #ffffff;
    text-decoration: none;
}

.basket-clear-all-button {
    background-color: #e1341e;
    border: 2px solid transparent;
    border-radius: 5px;
    padding: 7.5px;
    height: 38px;
    margin: 10px;
    font-family: "Nunito", Arial, Helvetica;
    font-size: 1rem;
    color: #ffffff;
}

.basket-clear-all-button:focus, .basket-clear-all-button:hover {
    border: 2px solid #000000;
    border-radius: 5px;
}

.basket-complete-order-button:focus, .basket-complete-order-button:hover {
    border: 2px solid #000000;
    border-radius: 5px;
}

.basket-remove-item-button:focus, .basket-remove-item-button:hover {
    border: 2px solid #000000;
    border-radius: 5px;
}

.basket-order-completed {
    font-family: "Nunito", Arial, Helvetica;
    font-size: 2rem;
    margin: 10px;
    margin-bottom: 100px;
    text-align: center;
}

.basket-total {
    color: #000000;
    font-family: "Nunito", Arial, Helvetica;
    font-size: 2rem;
    margin: 10px;
}

/* Complete order */
.complete-order-container {
    min-height: 40%;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.complete-order-container h1 {
    font-size: 3rem;
    font-family: "brandon_printedtwo";
    color: #005C49;
    margin: 15px 10px;
    text-align: center;
}

.complete-order-container h2 {
    font-size: 2rem;
    font-family: "brandon_printedtwo";
    color: #000000;
    margin: 10px 5px;
    text-align: center;
}

.order-form {
    font-size: 1em;
    font-family: "Nunito", Arial, Helvetica;
    color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order-form input[type=text], .order-form input[type=email] {
    background-color: transparent;
    border: 1px solid #c2c2c2;
    border-radius: 5px;
    font-family: "Nunito", Arial, Helvetica;
    font-size: 1rem;
    padding: 7.5px;
    width: 400px;
    margin-bottom: 10px;
}

.order-form textarea {
    background-color: transparent;
    border: 1px solid #c2c2c2;
    border-radius: 5px;
    font-family: "Nunito", Arial, Helvetica;
    font-size: 1rem;
    padding: 7.5px;
    max-height: 200px;
    max-width: 400px;
    min-height: 200px;
    min-width: 400px;
    margin-bottom: 10px;
}

.order-form input[type=submit] {
    background-color: #005C49;
    border: 2px solid transparent;
    border-radius: 5px;
    font-family: "Nunito", Arial, Helvetica;
    font-size: 1.5rem;
    font-weight: 1000;
    color: #ffffff;
    padding: 7.5px;
    width: 200px;
    margin-top: 10px;
}

.order-form input[type=submit]:hover, .order-form input[type=submit]:active {
    border: 2px solid #000000;
}

.complete-order-warning {
    color: #e1341e;
    font-size: 2rem;
    font-family: "Nunito", Arial, Helvetica;
}

.order-details-item {
    margin-bottom: 10px;
}

.order-details-item p {
    font-size: 1rem;
    font-family: "Nunito", Arial, Helvetica;
}

.order-details-item-total {
    font-family: "Nunito", Arial, Helvetica;
    color: #e4931b;
    font-size: 2rem;
}

@media (max-width: 450px) {
    .order-form input[type=text], .order-form input[type=email] {
        width: 200px;
    }
    
    .order-form textarea {
        max-height: 200px;
        max-width: 200px;
        min-height: 200px;
        min-width: 200px;
    }
}

/* Profile */
.profile-container {
    height: 40%;
    margin-bottom: 100px;
}

.profile-logged-out-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.profile-logged-out-container h1 {
    font-size: 3rem;
    font-family: "brandon_printedtwo";
    color: #005C49;
    margin: 15px 10px;
}

.profile-logged-out-container a {
    font-family: "Nunito", Arial, Helvetica;
    font-size: 1.5rem;
    color: #e4931b;
    margin: 10px;
}

.profile-logged-in-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.profile-logged-in-container h1 {
    font-size: 3rem;
    font-family: "brandon_printedtwo";
    color: #005C49;
    margin: 15px 10px;
}

.profile-logged-in-container input[type=submit] {
    background-color: #005C49;
    border: 2px solid transparent;
    border-radius: 5px;
    font-family: "Nunito", Arial, Helvetica;
    font-size: 1.5rem;
    font-weight: 1000;
    color: #ffffff;
    padding: 7.5px;
    width: 200px;
    margin-top: 10px;
}

.profile-logged-in-container a {
    font-family: "Nunito", Arial, Helvetica;
    font-size: 1.5rem;
    color: #e4931b;
    margin: 10px;
}

/* Login */
.login-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
    min-height: 40%;
}

.login-container h1 {
    font-size: 3rem;
    font-family: "brandon_printedtwo";
    color: #005C49;
    margin: 15px 10px;
}

.login-container form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.login-container input[type=text], .login-container input[type=password] {
    background-color: transparent;
    border: 1px solid #c2c2c2;
    border-radius: 5px;
    font-family: "Nunito", Arial, Helvetica;
    font-size: 1rem;
    padding: 7.5px;
    width: 400px;
    margin-bottom: 10px;
}

.login-container input[type=submit] {
    background-color: #005C49;
    border: 2px solid transparent;
    border-radius: 5px;
    font-family: "Nunito", Arial, Helvetica;
    font-size: 1.5rem;
    font-weight: 1000;
    color: #ffffff;
    padding: 7.5px;
    width: 200px;
    margin-top: 10px;
}

.login-container input[type=submit]:hover, .login-container input[type=submit]:active {
    border: 2px solid #000000;
}

@media (max-width: 450px) {
    .login-container input[type=text], .login-container input[type=password] {
        width: 200px;
    }
}

.signup-link {
    font-family: "Nunito", Arial, Helvetica;
    font-size: 1.5rem;
    color: #e4931b;
}

.login-error {
    font-family: "Nunito", Arial, Helvetica;
    font-size: 1.5rem;
    color: #e1341e;
    margin: 10px;
}

/* Signup */
.signup-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
    min-height: 40%;
}

.signup-container h1 {
    font-size: 3rem;
    font-family: "brandon_printedtwo";
    color: #005C49;
    margin: 15px 10px;
}

.signup-container form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.signup-container input[type=text], .signup-container input[type=password] {
    background-color: transparent;
    border: 1px solid #c2c2c2;
    border-radius: 5px;
    font-family: "Nunito", Arial, Helvetica;
    font-size: 1rem;
    padding: 7.5px;
    width: 400px;
    margin-bottom: 10px;
}

.signup-container input[type=submit] {
    background-color: #005C49;
    border: 2px solid transparent;
    border-radius: 5px;
    font-family: "Nunito", Arial, Helvetica;
    font-size: 1.5rem;
    font-weight: 1000;
    color: #ffffff;
    padding: 7.5px;
    width: 200px;
    margin-top: 10px;
}

.signup-container input[type=submit]:hover, .signup-container input[type=submit]:active {
    border: 2px solid #000000;
}

@media (max-width: 450px) {
    .signup-container input[type=text], .signup-container input[type=password] {
        width: 200px;
    }
}

.signup-error, .signup-success {
    font-family: "Nunito", Arial, Helvetica;
    font-size: 1.5rem;
    color: #e1341e;
    margin: 10px;
}

/* View orders */
.view-orders-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
    min-height: 40%;
}

.view-orders-container h1 {
    font-size: 3rem;
    font-family: "brandon_printedtwo";
    color: #005C49;
    margin: 15px 10px;
}

#orders {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.orders-table {
    width: 90%;
    margin: 5px;
}

.orders-table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.orders-table th {
    font-size: 1rem;
    font-family: "brandon_printedtwo";
    margin: 5px;
    text-align: left;
}

.orders-table td {
    font-size: 1rem;
    font-family: "Nunito", Arial, Helvetica;
    vertical-align: text-top;
}

.order-id {
    width: 10%;
}

.order-email {
    width: 30%;
}

.order-receipt {
    width: 60%;
}

/* View/Edit stock */
.view-edit-stock-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
    min-height: 40%;
    text-align: center;
}

.stock-container-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.view-edit-stock-container h1 {
    font-size: 3rem;
    font-family: "brandon_printedtwo";
    color: #005C49;
    margin: 15px 10px;
}

#stock {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stock-table {
    width: 95%;
    margin: 5px;
}

.stock-table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.stock-table th {
    font-size: 1rem;
    font-family: "brandon_printedtwo";
    margin: 5px;
    text-align: left;
}

.stock-table td {
    font-size: 1rem;
    font-family: "Nunito", Arial, Helvetica;
    vertical-align: text-top;
}

.stock-id {
    width: 5%;
    padding: 5px;
}

.stock-title {
    width: 25%;
    padding: 5px;
}

.stock-description {
    width: 35%;
    padding: 5px;
}

.stock-price {
    width: 5%;
    padding: 5px;
}

.stock-added {
    width: 10%;
    padding: 5px;
}

.stock-stock {
    width: 5%;
    padding: 5px;
}

.stock-sold {
    width: 5%;
    padding: 5px;
}

.stock-options {
    width: 10%;
    padding: 5px;
}

.stock-options-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stock-edit-button {
    background-color: #005C49;
    border: 2px solid transparent;
    border-radius: 5px;
    font-family: "Nunito", Arial, Helvetica;
    font-size: 1rem;
    font-weight: 1000;
    color: #ffffff;
    padding: 5px;
    margin: 5px;
    text-decoration: none;
}

.stock-remove-button {
    background-color: #e1341e;
    border: 2px solid transparent;
    border-radius: 5px;
    font-family: "Nunito", Arial, Helvetica;
    font-size: 1rem;
    font-weight: 1000;
    color: #ffffff;
    padding: 5px;
    width: 100px;
    margin: 5px;
}

.stock-add-button {
    background-color: #e4931b;
    border: 2px solid transparent;
    border-radius: 5px;
    font-family: "Nunito", Arial, Helvetica;
    font-size: 1.5rem;
    font-weight: 1000;
    color: #ffffff;
    padding: 5px;
    width: 150px;
    margin: 5px;
}

.stock-edit-button:hover, .stock-edit-button:active, .stock-add-button:hover, .stock-add-button:active, .stock-remove-button:hover, .stock-remove-button:active {
    border: 2px solid #000000;
}

.view-edit-stock-message {
    font-family: "Nunito", Arial, Helvetica;
    font-size: 1.5rem;
    color: #e1341e;
    margin: 10px;
}

/* Edit stock container */
.edit-stock-item-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
    min-height: 40%;
}

.edit-stock-item-container h1 {
    font-size: 3rem;
    font-family: "brandon_printedtwo";
    color: #005C49;
    margin: 15px 10px;
}

.edit-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-stock-item-form-error {
    font-family: "Nunito", Arial, Helvetica;
    font-size: 1.5rem;
    color: #e1341e;
    margin: 10px;
}

.edit-stock-item-form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.edit-stock-item-form label {
    font-family: "Nunito", Arial, Helvetica;
    font-size: 1.5rem;
}

.edit-stock-item-form input[type=text], .edit-stock-item-form input[type=url], .edit-stock-item-form input[type=number] {
    background-color: transparent;
    border: 1px solid #c2c2c2;
    border-radius: 5px;
    font-family: "Nunito", Arial, Helvetica;
    font-size: 1rem;
    padding: 7.5px;
    width: 400px;
    margin-bottom: 10px;
}

.edit-stock-item-form input[type=submit] {
    background-color: #005C49;
    border: 2px solid transparent;
    border-radius: 5px;
    font-family: "Nunito", Arial, Helvetica;
    font-size: 1.5rem;
    font-weight: 1000;
    color: #ffffff;
    padding: 7.5px;
    width: 200px;
    margin-top: 10px;
}

.edit-stock-item-form input[type=submit]:hover, .edit-stock-item-form input[type=submit]:active {
    border: 2px solid #000000;
}

@media (max-width: 450px) {
    .edit-stock-item-form input[type=text], .edit-stock-item-form input[type=url], .edit-stock-item-form input[type=number] {
        width: 200px;
    }
}

/* Add item */
.add-stock-item-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
    min-height: 40%;
}

.add-stock-item-container h1 {
    font-size: 3rem;
    font-family: "brandon_printedtwo";
    color: #005C49;
    margin: 15px 10px;
}

.add-stock-item-form-error {
    font-family: "Nunito", Arial, Helvetica;
    font-size: 1.5rem;
    color: #e1341e;
    margin: 10px;
}

.add-stock-item-form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.add-stock-item-form label {
    font-family: "Nunito", Arial, Helvetica;
    font-size: 1.5rem;
}

.add-stock-item-form input[type=text], .add-stock-item-form input[type=url], .add-stock-item-form input[type=number] {
    background-color: transparent;
    border: 1px solid #c2c2c2;
    border-radius: 5px;
    font-family: "Nunito", Arial, Helvetica;
    font-size: 1rem;
    padding: 7.5px;
    width: 400px;
    margin-bottom: 10px;
}

.add-stock-item-form input[type=submit] {
    background-color: #005C49;
    border: 2px solid transparent;
    border-radius: 5px;
    font-family: "Nunito", Arial, Helvetica;
    font-size: 1.5rem;
    font-weight: 1000;
    color: #ffffff;
    padding: 7.5px;
    width: 200px;
    margin-top: 10px;
}

.add-stock-item-form input[type=submit]:hover, .add-stock-item-form input[type=submit]:active {
    border: 2px solid #000000;
}

@media (max-width: 450px) {
    .add-stock-item-form input[type=text], .add-stock-item-form input[type=url], .add-stock-item-form input[type=number] {
        width: 200px;
    }
}

